/* 
@media only screen and (max-width: 599px){
    body{
        background-color: orange;
    }
    
    h1{
        color: white;
    }
    p{
        text-align: justify;
    }
}

@media only screen and (min-width: 600px) and (max-width:799px) {
    body{
        background-color: purple;
    }
    h1{
        text-align: center;
    }
    img{
        float: right;
    }
    
}


@media only screen and (min-width: 800px){
    body{
        background-color: blue;
    }
    h1{
        color: red;
    }
    .contenedor{
        max-width: 800px;
        margin: 0 auto;
    }
}
 */
 html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
 body{
     font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
 }
 h1{
     font-size: 50px;
     font-weight:700 ;
 }

 div.contenedor{
     max-width: 1100px;
     margin: 0 auto;
 }
 .contenido-inferior::after{
     clear: both;
     display: block;
     content:'';
 }

 div.caja{
     width: 33.3%;
     float: left;
     padding: 0 20px;
 }

 div.caja div.contenido{
     background-color: yellow;
     padding: 20px;
 }

@media only screen and (max-width:800px) {

    body{
        background-color: purple;
    }
    
}

@media only screen and (max-width:500px){
body{
    background-color: orange;
}
div.caja{
    width: 100%;
    margin-bottom: 15px;
    padding: 0;
}
}